.ctr {
  display: flex;
  justify-content: center;
}
.left,
.right {
  margin: 30px;
}
.left {
  width: 30%;
}
.right {
  width: 70%;
}
@media only screen and (max-width: 1000px) {
  .left,
  .right {
    width: 50%;
  }
}
@media only screen and (max-width: 750px) {
  .ctr {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left,
  .right {
    width: 80%;
  }
}
