.main {
  padding: 4px 6px;
  background-color: white;
  box-shadow: 6px 7px 19px -2px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 6px 7px 19px -2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 6px 7px 19px -2px rgba(0, 0, 0, 0.29);
  cursor: pointer;
  margin: 30px 25px;
  transition: all 0.2s;
}
.main:hover {
  transform: scale(1.01);
  box-shadow: 6px 7px 19px -5px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 6px 7px 19px -5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 6px 7px 19px -5px rgba(0, 0, 0, 0.29);
}
.imgCtr {
  background-color: var(--lightgrey);
  position: relative;
}
.imgCtr img {
  width: 238px;
  height: 238px;
  object-fit: cover;
}
.detCtr {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 5px;
  font-size: 20px;
}
.breed {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  color: var(--lightgrey);
  background-color: var(--secondary);
  border-radius: 0 0 0 10px;
}
