.main {
  height: max-content;
  margin: 45px auto 0;
  position: relative;
  padding: 20px 0;
  border-radius: 40px;
}
.main img {
  transition: transform 0.3s;
}
.main img:hover {
  transform: scale(1.1);
}
.circleS,
.circleM,
.circleL {
  border-radius: 50%;
  border: 3px solid var(--accent);
  padding: 2px;
}
.circleS {
  width: 80px;
  height: 80px;
}
.circleM {
  width: 100px;
  height: 100px;
}
.circleL {
  width: 150px;
  height: 150px;
}
.first,
.second,
.third {
  display: flex;
  justify-content: space-evenly;
  margin: 70px 0;
}
.first {
  margin-top: 40px;
}
.second {
  justify-content: space-between;
  padding: 0 100px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content p {
  font-size: 40px;
}
.links a {
  background-color: var(--accent);
  border: 1px solid var(--secondary);
  padding: 12px 20px;
  margin: 40px 30px;
}
.center {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
}
.center p {
  font-size: 42px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.center p span {
  font-family: "Inter", sans-serif;
  text-decoration: underline;
}
.centDown {
  width: max-content;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

svg {
  color: var(--accent);
}
@media only screen and (max-width: 900px) {
  .disp {
    visibility: hidden;
  }
  .main {
    margin: 0 auto;
  }
}
