.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 25px;
  background-color: var(--bg);
  font-weight: 400;
  font-size: 18px;
}
.nav a,
.nav span {
  color: var(--primary);
  cursor: pointer;
}
.h {
  transition: all 0.2s;
}
.h:hover {
  letter-spacing: 1px;
}
.navGroup,
.pro {
  display: flex;
  align-items: center;
}
.pro {
  position: relative;
}
.navGroup svg {
  margin-left: 5px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 30px;
  height: 30px;
}
.logo span {
  margin-left: 10px;
}
.tabs {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: width 0.2s;
}
@media only screen and (max-width: 1110px) {
  .tabs {
    width: 400px;
  }
}
@media only screen and (max-width: 750px) {
  .tabs {
    margin-top: 20px;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 520px) {
  .nav {
    padding: 18px 20px;
    margin-bottom: 0;
  }
  .tabs {
    width: 300px;
  }
}
