.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.head {
  font-size: 70px;
  margin: 60px 0;
}
.gBtn {
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: var(--lightgrey);
  display: flex;
  align-items: center;
  padding: 10px 25px;
  border-radius: 15px;
  letter-spacing: 3px;
}
.gBtn img {
  width: 30px;
  height: auto;
  margin-right: 18px;
}
